header{
  border-color: red;
  border-style: solid;
  margin-bottom: 5px;
}
.cen{
  text-align:center;
}
#navbar{
  border-color: blue;
  border-style:solid;
  padding: 10px;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
}
aside{
  border-style:solid;
  border-color: red;
  width: 18%;
  float:right ;
  height: 300px;
  margin-top:7px
}
section{
  border-style:solid;
  border-color: red;
  width: 80%;
  height: 300px;
  margin-top: 7px;
  

}
footer{
  border-style:solid;
  border-color: rgb(48, 20, 255);
  text-align: center;
  margin-top: 7PX;
  height: 20PX;

}
#de{
  text-align: center;
}
th{
  text-align: center;
}
